@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
  --primaryLight: #gi;
  --primaryLighter: #d1edff;
  --secondaryLight: #fce300;
  --secondaryDark: #ffc600;
  --neutralLight: #f4f6fc;
  --neutralMedium: #6b708d;
  --neutralDark: #292e47;
  --wrong: #b33a3a;
  --right: #28a428;
  --white: #fff;
  --black: #000;
  --diameter: 25vw;
  --circular-line-width: 2px;
  --background: #000;
  --line-color: #ff0055;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  background-color: #f2f4fc;
  color: #292e47;
}

section,
footer {
  max-width: 1063px;
  margin: auto;
}

/* ------------------------------ INDEX html ------------------------------ */

/* Navbar */ 

  #navbar {
    background-color: white;
    color: #072ac8;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo img {
    height: 40px; 
  }
  
  .spacer {
    flex: 1; 
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    margin-right: 20px; 
  }
  
  .nav-links a:last-child {
    margin-right: 0; 
  }
  
  .btn {
    background-color:#072ac8;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .btn:hover {
    background-color: #292e47;
    cursor: pointer;
  }

/* Header */

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10 px; 
  line-height: 60px;
  margin-bottom: 10px;
}

.main h1, .main p {
  width: 60%;
  margin: 10px;
  margin-left: 130px;
}
.main h1 {
  font-size: 270%;
}

.main p {
  font-size: 120%;
}

img.hero-image {
  max-width: 90%; 
  float: right; 
  margin: 20px;
  margin-right: 130px;
}

img.credit-card {
  max-width: 20%;
  position: absolute;
  top: 30%; 
  right: 30%; 
  width: 25%; 
  height: auto; 
  transform: translateY(-50%);
  z-index: 2; 
}

img.project-success {
  max-width: 20%;
  position: absolute;
  top: 80%; 
  right: 7%; 
  width: 25%; 
  height: auto; 
  transform: translateY(-50%);
  z-index: 2; 
}

/* Brands */ 

 .brands-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
 }

.brand-logo {
  width: 100px; 
  height: auto; 
  margin: 0 10px; 
}

.brand-logo img {
  width: 150%;
  height: auto;
  filter: grayscale(100%); 
}

/*  Recent projects */

.title {
margin: 30px;
}

.title h2 {
  font-size: 2.5rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
}

.project {
  background-color: white;
  padding-bottom: 20px;
}

.project img {
  width: 100%;
  height: 240px;
}

.project h3 {
  font-size: 1.3rem;
  margin: 27px;
}

.project p {
  font-size: 1.1rem;
  margin: 0 27px 27px 27px;
}

.project a {
  text-decoration: none;
  font-weight: 500;
  color: #072ac8;
  margin: 0 27px 27px 27px;
}

/* Testimonials */

.testimonial {
  position: relative;
  background-color: #292e47;
  color: white; 
  padding: 60px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.testimonial-memojis {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.testimonial-memoji1,
.testimonial-memoji2,
.testimonial-memoji3,
.testimonial-memoji4 {
  width: 100px;
  height: 100px;
}

.testimonial-memoji1 {
  position: absolute;
  top: 0;
  left: 0;
}

.testimonial-memoji2 {
  position: absolute;
  top: 0;
  right: 0;
}

.testimonial-memoji3 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.testimonial-memoji4 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.testimonial-text {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  font-size: 180%; 
}

.testimonial-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.testimonial-text p {
  color: #fce300;
  margin: 30px;
  font-size: 120%;
}

.testimonial-profile-img {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  margin-right: 10px; 
}

/* Our Services */

.title-our-services {
  margin-left: 200px;
}
.flex-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px; 
  margin: 40px 0 75px 0; 
  margin-left: 180px;
  margin-right: 180px;
}

.services-flex {
  background-color: white; 
  padding: 20px;
  margin: 0 15px; 
}

.services-flex img {
  width: 50%; 
  max-height: 150px; 
  object-fit: cover; 
}

.services-flex h3 {
  font-size: 1.5rem; 
  margin: 20px 0; 
}

.services-flex p {
  font-size: 1.2rem; 
  margin: 0; 
}

.services-flex a {
  text-decoration: none;
  font-weight: 500;
  color: #072ac8; 
}

/* Newsletter */

.newsletter {
  padding: 50px 0;
  background-color: #ffc600;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

.input-group {
  display: flex;
  align-items: center;
  padding: 20px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

input[type="email"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #072ac8;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Footer */ 

.footer {
  padding: 40px 0;
}

.footer-container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.footer-left {
  flex: 1;
}

.footer-logo {
  width: 100px;
  margin-bottom: 20px;
}

.address {
  font-size: 1rem;
  line-height: 1.5;
}

.footer-right {
  flex: 2;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  flex: 1 1 33.333%;
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #072ac8;
  font-weight: 500;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Scroll up */

.scroll-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #072ac8;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000; 
  display: none; 
}

.scroll-up:hover {
  background-color: #292e47; 
}

/* ------------------------------------------------------------------------ */
/* ------------------------------ Contact Us html ------------------------------ */
/* ------------------------------------------------------------------------ */

.txt-title {
  font-size: 50px;
  margin: 50px;
}

.contact-us {
margin-bottom: 50px;}

.form-container {
  font-size: 20 px;
}

#name1,
#email1,
#phone1,
#message1 {
  background-color: white; 
  width: 100%; 
  padding: 10px; 
  height: 40px;
  border-style: none;
  margin-bottom: 40px;
}
  
/* ------------------------------------------------------------------------ */
/* ------------------------------ Project html ---------------------------- */
/* ------------------------------------------------------------------------ */

#main-project {
  margin-left: 200px;
  margin-right: 200px;
  padding: 30px;
}

#main-project img {
  width: 100%;
  height: 480px;
}

#main-project h1 {
  font-size: 60px;
  padding:30px
}

#main-project h2 {
  font-size: 30px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

#projects {
  margin-bottom: 40px;
}


/* Animation */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.brands-section {
  opacity: 0; 
  animation: fadeIn 2s forwards; 
  font-size: 2rem;
  text-align: center;
  margin-top: 100px;
}

/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  /* ------------------------------ Splash ------------------------------ */
  .splash {
    display: none;
  }
  /* ------------------------------ Navbar ------------------------------ */
  .nav-links {
    display: none;
  }
  nav {
    margin: 0 auto 75px auto;
    padding: 0 30px 15px 30px;
    height: 80px;
  }

  /* ------------------------------ Header ------------------------------ */

  .main {
    font-size: 70%;
  }
  .project-success {
   display: none;
  }
  .credit-card {
   display: none;
  }

  /* ------------------------------ Partners ------------------------------ */
 .brands-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

 }
  /* ---------------------------- Recent projects ---------------------------- */

  .services-flex {
    flex-wrap: wrap;
  }
}
  
/* ------------------------- Smaller than 766px (mobile) ------------------------- */


@media (max-width: 766px) {
 
 .hero-image{
    display: none;
  }

  .brands-section, .flex-container {
    display: flex;
    flex-direction: column;
  }


.footer, .container, .projects-container {
  margin: 20px;
}
}